h1 {
    background-color: rgba(72, 240, 249, 0.845);
}

.demo h3 {
    background-color: rgb(203, 68, 212);
    color: white;
}

p {
    color: rgb(161, 219, 73);
}

h3 {
    background-color: rgb(84, 179, 179);
}